.card{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  /* height: 380px; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* same as Tailwind gap-2 */
}

.titleBar {
  width: 0.25rem;  /* w-1 */
  height: 1.5rem;  /* h-6 */
  background-color: rgb(22 163 74); /* green-600 */
  border-radius: 0.25rem; /* rounded */
}

.chevronIcon {
  width: 1rem; /* w-4 */
  height: 1rem; /* h-4 */
  margin-right: 0.25rem; /* mr-1 */
}
